/* letras google */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');


$fontRubik: 'Rubik', sans-serif;
$fontRobot: 'Roboto Condensed', sans-serif;
$fontRacing: 'Racing Sans One', cursive;

$mainColor: rgb(34, 193, 195);
$secundaryColor: #29AB87;